@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    <h3>Deploy .NET project (built using Visual Studio 2015) to Heroku using a build pack : Gaurav for TechNote</h3>
    <p>This uses the .Net Core Buildpack provided by Softtends available on <a href="https://github.com/heroku-softtrends/dotnetcore.main.git">github.</a><br></p>

    <p>Pre-requisites for this</p>
    <div class="section" id="install-visual-studio-and-net-core">
        <h2>Install Visual Studio and .NET Core<a class="headerlink" href="#install-visual-studio-and-net-core" title="Permalink to this headline">¶</a></h2>
        <ul class="simple">
            <li>
                Install Visual Studio Community 2015. Select the Community download and the default installation. Skip this step if you have Visual Studio 2015 installed.<ul>
                    <li><a class="reference external" href="https://www.visualstudio.com/en-us/visual-studio-homepage-vs.aspx">Visual Studio 2015 Home page installer</a></li>
                </ul>
            </li>
            <li>Install <a class="reference external" href="http://go.microsoft.com/fwlink/?LinkID=798306">.NET Core + Visual Studio tooling</a></li>
        </ul>
    </div>
    <p>Or, follow the steps <a href="https://docs.asp.net/en/latest/tutorials/first-mvc-app/start-mvc.html">link</a> to create your 1st .NET core application using Visual Studio 2015.</p>

    <p>Now, you've created a new ASP.NET Core project. <a href="https://go.microsoft.com/fwlink/?LinkId=518016">Learn what's new</a></p>

    <p>Follow the below steps which are <strong>important</strong> to implement the buildpack on a .NET project.</p>


    <p>
        You need to make the following changes in your Program.cs and project.json to deploy on Heroku
        <br>
        In <strong>Program.cs</strong>
    </p>

    <ul>
        <li>
            <p>
                Add UseUrls method and pass args[0] as parameter to start your app. Because Heroku web dyno will start with dynamic port after sucessful deployment. We need to use the same port in code behind also then only your app will start and listen on that port else dotnet runtime will set default port 5000. Thereby we pass port number as parameter with url in Procfile
                <br>
                public static void Main(string[] args
                {<br>
                var host = new WebHostBuilder()
                .UseKestrel()
                .UseContentRoot(Directory.GetCurrentDirectory())
                .UseIISIntegration()
                .UseStartup()
                <strong>.UseUrls(args[0])</strong>
                .Build();
            </p>

<pre><code>    host.Run();
</code></pre>

            <p>
                }<br>
                In <strong>project.json</strong>
            </p>
        </li>
        <li><p>Add a new property called "outputName": "Your_ProjectName" in buildOptions  </p></li>
        <li>
            Remove scripts section. It has prepublish and postpublish actions which are not needed
            <br>
            <br>
        </li>
    </ul>

    Add a new file app.json in the application directory. Its an important step as this file helps heroku to recognize it. Use the <a href="https://devcenter.heroku.com/articles/app-json-schema"> link.</a>
    <br>
    <br />
    Once you have made the above modifications, create a github reository and upload the code. Once. uploaded, goto Repository Setting , Automatic page generator section
    and click on Launch automatic page generator button. Follow the steps to create your own repository page. Once created, update the app.json file created above.
    <br />
    The repository value to be updated to the repository page as created above. And, buildpack URL to be updated with <a href="https://github.com/heroku-softtrends/dotnetcore.main.git"> link.</a>
    You can deploy my github based ASP.Net website on Heroku server by clicking below button
    <br>
    <br>
    <a href="https://heroku.com/deploy?template=http://gaurav1143.github.io/MyAppHeroku">
        <img src="https://camo.githubusercontent.com/83b0e95b38892b49184e07ad572c94c8038323fb/68747470733a2f2f7777772e6865726f6b7563646e2e636f6d2f6465706c6f792f627574746f6e2e737667" alt="Deploy" data-canonical-src="https://www.herokucdn.com/deploy/button.svg" style="max-width:100%;">
    </a>

</div>


